.ex-1-square {
    transition: background-color 1s;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    transition: width 1s;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    transition: border-radius 1s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square {
    transition: opacity 1s;
}

.ex-4-square:hover {
    opacity: 0;
}

.ex-5-square {
    transition: transform 1s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5);
}

.ex-6-img:hover {
    filter: grayscale(1);
}

.ex-7-img {
    transition: filter 2s;
}

.ex-7-img:hover {
    filter: grayscale(1) sepia(0.5);
}

.ex-8-img {
    transition: filter 2s, border-radius 2s;
}

.ex-8-img:hover {
    filter: grayscale(1) sepia(0.5);
    border-radius: 20px;
}

.ex-9-img {
    transition: filter 2s, border-radius 2s, transform 2s;
}

.ex-9-img:hover {
    filter: grayscale(1) sepia(0.5);
    border-radius: 20px;
    transform: scale(1.5);
}

.ex-10-icon {
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(-360deg);
    }
}

.ex-11-icon:hover {
    animation-name: strange-rotate;
    animation-duration: 1s;
    animation-timing-function: linear;
}

@keyframes strange-rotate {
    from {
        transform: rotate(0);
    }

    75% {
        transform: rotate(270deg);
    }

    to {
        transform: rotate(0);
    }
}

.ex-12-button:hover .ex-12-top-white {
    animation-name: move-top-border;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes move-top-border {
    from, to {
        left: 10%;
    }

    50% {
        left: calc(100% - 60px);
    }
}

.ex-12-button:hover .ex-12-bottom-white {
    animation-name: move-bottom-border;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes move-bottom-border {
    from, to {
        right: 20%;
    }

    50% {
        right: calc(100% - 60px);
    }
}

.ex-13-button:hover .ex-13-top-white {
    animation-name: move-top-border-around;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes move-top-border-around {
    from, to {
        left: 10%;
        top: -10px;
    }

    30% {
        left: calc(100% - 50px);
        top: -10px;
    }

    45% {
        left: calc(100% - 50px);
        top: 100%;
    }

    75% {
        left: -10px;
        top: 100%;
    }

    90% {
        left: -10px;
        top:-10px;
    }
}

.ex-13-button:hover .ex-13-bottom-white {
    animation-name: move-bottom-border-around;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes move-bottom-border-around {
    from, to {
        right: 20%;
        bottom: -10px;
    }

    30% {
        right: calc(100% - 50px);
        bottom: -10px;
    }

    45% {
        right: calc(100% - 50px);
        bottom: 100%;
    }

    75% {
        right: -10px;
        bottom: 100%;
    }

    90% {
        right: -10px;
        bottom:-10px;
    }
}